<connectionStrings>		
  <add name="COELSADB_APIEntities" 
       connectionString="metadata=res://*/Models.coelsaDB.csdl|res://*/Models.coelsaDB.ssdl|res://*/Models.coelsaDB.msl;
       provider=System.Data.SqlClient;
       provider connection string=&quot;
       data source=;
       initial catalog=COELSA_API;
       user id=;
       password=;
       MultipleActiveResultSets=True;
       App=EntityFramework&quot;" 
       providerName="System.Data.EntityClient" />	
</connectionStrings>